body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.container { 
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 90vh;
}

.bar {
    height: 200px;
    border: 1px solid gray;
    margin: 0 5px;
    width: 30px;
    transition: height 0.1s ease-out;
    border-radius: 10px;
}

